body {
    background-image: url('sumiLandscapePainting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-positioning: center;
    background-attachment: fixed;
}

h1, h6 {
    background-color: black;
    color: gold;
    text-align: center;
}

#c1, #a2, #b3 {
    background-color: pink
}

#a1, #b2, #c3 {
    background-color: #f4c95a;
}

#b1, #c2, #a3 {
    background-color: #be93e9;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

#StartButton, #StartButton.container, #StartButton.center {
    background-color: gold;
    color: red;
    text-align: center;
    align-items: center;
    width: 310px;
    font-size: 30px;

    position: absolute;
    border: 3px solid blue;

    margin 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#gameStatus {
    color: gold;
    background-color: black;
    text-align: center;
}

.superSize {
    font-size: 60px;
}

#homeButton, button.center {
    height: auto;
    width: auto;
    background-color: red;
    text-align: center;
    align-items: center;
}